*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --white: #ffffff;
    --dark: #000000;
    --text:#7c7c7c;
    --bg-primary:#b28756;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header{
    height: 100px;
    background-color: #000;
    color: var(--white);
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.logoImg{
    width: 80px;
    height: 80px;
    background-color: var(--bg-primary);
}

/***** MENU ******/
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0 5px;
    display: block;
    height: 100px;
    border-bottom: 5px solid var(--dark);

    display: flex;
    align-items: center;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid var(--bg-primary);
    color: var(--text);
}

/***** BANNER ******/
.banner{
    height: calc(100vh - 100px);
    background-color: var(--text);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow:hidden;/*Tudo o que passar do tamanho ele ignora*/
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
}

.banner .slideArea{
    height: 100%;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}

.banner h1 span{
    color: var(--bg-primary);
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a{
    background-color: var(--bg-primary);
    color: var(--white);
    font: 12px;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 28px;
    margin-top: 30px;

    transition: all linear .3s;
}

.banner a:hover{
    background-color: var(--dark);
    color: var(--bg-primary);
}

.banner .slidersPointers{
    color: var(--white);

    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid var(--bg-primary);
    border-radius: 8px;
    margin: 0 3px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: var(--bg-primary);
}